/* Dasbord css */

.list-group li a:hover {
  background-color: rgba(44, 44, 44, 0.593);
}

.list-group li a {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.hr-left {
  background-color: black;
  color: black;
  position: relative;
  width: 90%;
  height: 1px;
  margin-bottom: 20px;
}

.card-menu:hover {
  background-color: rgba(0, 0, 0, 0.173);
}

.card-menu:hover .img-card {
  transform: scale(1.2);
}

.bg-danger:hover {
  transform: scale(1.2);
}

.tittle-produk {
  display: none;
}

@media screen and (max-width: 767px) {
  .tittle-produk {
    display: flex;
    border: none;
    background: none;
    padding: 5px 15px;
    border-radius: 10px;
  }

  .tittle-produk:hover {
    background-color: rgba(0, 0, 0, 0.107);
  }

  .judul-categori {
    display: none;
  }

  .list-categori {
    display: none;
    transition: 10s all ease;
  }

  .list-produk {
    display: flex;
  }

  .hr-left {
    display: none;
  }
}
