/* Dasbord css */

.list-group li a:hover {
  background-color: rgba(44, 44, 44, 0.593);
  color: white;
}

.list-group li a {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.4s all ease;
}

.hr-left {
  background-color: black;
  color: black;
  position: relative;
  width: 90%;
  height: 1px;
  margin-bottom: 20px;
}

.card-menu .img-card:hover {
  transform: scale(1.2);
}

.tittle-produk {
  display: none;
}

.button-card-first,
.button-card-second {
  border: none;
  padding: 5px 10px;
  width: 35%;
}

.button-card-first:hover,
.button-card-second:hover {
  color: rgba(0, 0, 0, 0.172);
  transform: scale(0.9);
}

.button-card-first {
  border-radius: 10px;
}

/* Left Container */
.aktif {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(44, 44, 44, 0.593);
  color: white;
}

@media screen and (max-width: 767px) {
  .tittle-produk {
    display: flex;
    border: none;
    background: none;
    padding: 5px 15px;
    border-radius: 10px;
  }

  .tittle-produk:hover {
    background-color: rgba(0, 0, 0, 0.107);
  }

  .judul-categori {
    display: none;
  }

  .list-categori {
    display: none;
    transition: 10s all ease;
  }

  .list-produk {
    display: flex;
  }

  .hr-left {
    display: none;
  }

  .arrow-carousel {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .caraousel-container {
    width: 100vw;
    height: 100vh;
  }
}

/* Landing Page */
.carousel-indicators {
  transition: 0.5 all ease;
}

.carousel-indicators .active {
  width: 60px;
}

/* slick */
